<%= render 'shared/navbar' %>
<div class="home-column">
  <%= render 'businesses_list' %>
  <div class="home-column-panel">
    <%= link_to "New business", new_business_path, class: "home-column-surface" %>
  </div>
</div>