<%= render 'shared/navbar' %>
<div class="home-column">
  <% if @businesses %>
    <% @businesses.each do |biz| %>
      <div class="home-column-panel">
        <h1><%= biz.name %>
        <%#= link_to 'Edit business', edit_business_path(biz), class: "inlinebutton" %></h1>
        <h2><%= link_to "#{biz.name} Home page", full_url(biz.url.to_s), target: "_blank" %></h2>
      </div>
    <% end %>
  <% end %>
</div>