
<%= tag.div class: "display" do %>
  <h1>A simple solution</h1>
  <h2>Partage is a two-sided marketplace app.</h2>
  <h3>The main difference between just putting your surplus stuff on Ebay or Gumtree is that using Partage you can rent out your unused assets and come to an agreement with the client as to how best to use them.</h3>
  <h3>Agreements are mutually negotiated.</h3>
  <h3>Listed assets are sorted by suburb and council, and relevant paperwork is sourced accordingly from council/state/federal sources.</h3>
  <h3>The creators of Partage have dealt with compliance in the food sector from local government all the way to import from several countries, and know what a headache having the right boxes ticked can be.</h3>

<% end %>