
<%= tag.div class: "display" do %>
  <h1>We're in development</h1>
  <h2>Things will be wonky for a while.</h2>
  <h3>We are a small and dedicated team, but this project is not even a month old.</h3>
  <h3>Bear with us as we build into something amazing!</h3>

<% end %>