
<%= tag.div class: "display" do %>
  <h1>Basic usage</h1>
  <div class="home-column nowrap">
    <div>
      <h2>Resource "owners"</h2>
      <ul><h3>
        <li>Register your business (just a name and approximate location will do).</li>
        <li>Register your resource (be it an office, a ute or a designer).</li>
        <li>Add a picture.</li>
        <li>Wait until it gets some interest.</li>
      </h3></ul>
    </div>
    <div>
      <h2>Resource "needers"</h2>
      <ul><h3>
        <li>Register your business (just a name and approximate location will do).</li>
        <li>Browse for a resource (be it a kitchen, a PA system or a sound booth).</li>
        <li>Click "I'm interested!" button.</li>
        <li>Wait until the business involved enters trading terms into the pending Agreement you just created.</li>
      </h3></ul>
    </div>

  </div>

<% end %>