
<%= tag.div class: "display" do %>
  <h1>Also:</h1>
  <h2>Businesses have costly assets.</h2>
  <h3>You've got your capital assets, but it wasn't easy.</h3>
  <h3>They cost an absolute fortune to keep, and though it was essential to serve your market, it takes time to grow to the point you're using these assets fully.</h3>
  <h3>You're paying the same costs as a business twice the size and your assets are underutilized. You need a way to make those assets behave like assets and start earning their keep.</h3>

<% end %>