
<%= tag.div class: "display" do %>
  <h1>What is Partage?</h1>
  <h2>Businesses need to scale. Scale takes investment.</h2>
  <h3>How do you get the cash to scale up when you're not big enough yet?</h3>
  <h3>This is a small country with a small population, but we've always had big ideas.</h3>
  <h3>The times are particularly challenging in recent years, and it's often not an option to go to a bank with a pile of slides and spreadsheets and convince them to loan you enough to start up.</h3>
  <h3>And if it goes south? Big debt.</h3>

<% end %>