
<%= render 'shared/navbar' %>
<div class="display">
  <%= render 'shared/logo' %>
  <h1>Partage</h1>
  <h2>Welcome to an exciting new concept in business resource pooling.</h2>
  <p>Watch this space, I promise great things are afoot.</p>
  <button class="inlinebutton a" onclick="yeet('container','yeet-left')">Yeet the toolbar!</button>
</div>
<%= javascript_pack_tag 'yeeter' %>