
<%= render 'shared/navbar' %>
<div class="display homepage absolute-mid-home">
  <%= render 'shared/logo' %>
  <h1>Partage</h1>
  <h2>Welcome to an exciting new concept in business resource sharing.</h2>
  <p>Watch this space, I promise great things are afoot.</p>
  <button class="inlinebutton a" onclick="yeet('homepage','yeet-left-home');yeet('page1','yeet-home')">About Partage</button>
</div>
<%= render partial: 'about_page1', locals: {divclass: "display page1 onright"} %>

<%= javascript_pack_tag 'yeeter' %>