<div class="home-column-panel">
    <h1>
      <%= resource.name %>
    </h1>
    <p class="wrap-25vw">
      <%= "Description: #{resource.description}" %>
    </p>
    <%= image_tag resource.picture if (resource.picture != nil) %>
    <p>
    <div>
      <div class="inlinebutton">stub</div>
      <div class="inlinebutton">buttons</div>
      <div class="inlinebutton">yeah</div>
    </div>
    </p>
</div>
