<%= render 'shared/navbar' %>
<div class="home-column">
  <% if @businesses %>
    <% @businesses.each do |b| %>
      <% b.resources.each do |resource| %>
        <%= render partial: 'resource_list', locals: {resource: resource} %>
      <% end %>
  <div class="home-column-panel">
    <%= link_to "New resource for #{b.name}", new_business_resource_path(b), class: "home-column-surface" %>
  </div>
    <% end %>
  <% end %>
</div>