<%= render 'shared/navbar' %>
<div class="home-column">
  <%= render partial: 'resource_list', locals: {resource: @resource, business: @business, divclass: "home-column-panel full-width-panel"} %>
</div>