$backcolor: #ffffff;
$forecolor: #000000;
$partage-orange: #ff8c00;
$partage-purple: #483d8b;
$breakpoint-icons: 940px;
$breakpoint-tablet: 620px;
$breakpoint-phone: 360px;

@font-face {
  font-family: 'AlteDIN1451Mittelschrift';
  src:font-url('AlteDIN1451Mittelschrift.otf');
  font-weight: normal;
  font-style: sans-serif;
}

html {
  font-size: 16px;
  @media screen and (min-resolution: 192dpi) {
    font-size: 13px;
  }
  @media screen and (min-resolution: 384dpi) {
    font-size: 11px;
  }
  background-color: $backcolor;
  color: $forecolor;
}


*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
  margin-left: 1rem;
}
h1, h2, {
  font-family: 'AlteDIN1451Mittelschrift';
}
.gradient-bg {
  background: linear-gradient(90deg, rgba($partage-purple,0.5) 0%, rgba(#fff,1) 40%, rgba(#fff,1) 60%, rgba($partage-purple,0.5) 100%);
}
html {
  background-color: $backcolor;
  color: $forecolor;
  @extend .gradient-bg;
}
.container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 100vh;
  color: $forecolor;
  margin-left: -1em;
  padding-left: 1em;
}
.link {
  &:hover {
    background-color: rgba($backcolor,0.33);
  }
}
.a{
  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
    color: unset;
  }
  &:hover {
    // border-bottom: 1px dotted;
    // color: $partage-orange;
    filter: drop-shadow(1px 1px 0px $partage-orange);
    border-color: rgba( $forecolor, 0.5 );
  }
}
a{
  @extend .a;
}
.inlinebutton {
  display: inline-flex;
  min-height: max-content;
  padding: 0.4em 0.6em 0.4em 0.6em;
  border: 1px solid rgba( $partage-purple, 0.5);
  align-items: center;
  border-radius: 0.5em 0 0.5em 0;
  background-color: rgba($backcolor,0.33);
}
.inline-list, ul.inline-list {
  display: flex;
  width: 100%;
  // max-width: 100vw;
  justify-content: left;
  border: none;
  padding-left: 0;
  padding-bottom: unset;
  li {
    display: flex;
    // margin-left: -2.1rem;
    // margin-right: 2.6rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0;
  }
  .inlinebutton{
    margin-bottom: 0;
  }
}

.nav {
  @extend .inline-list;
  width: unset;
  border-bottom: 0.75rem solid $partage-orange;
  border-radius: 0 0 2rem 0;
  background-color: rgba( $partage-purple, 0.33);
}
nav {
  @extend .nav;
  ul {
    width: 100%;
    display: flex;
    align-items: center;
  }
  li {
    @extend .inlinebutton;
    margin-left: -2.1rem;
    margin-right: 2.6rem;
    &:first-child {
      border: none;
      background: none;
    }
    &:nth-child(2) {
      font-weight: bold;
      font-size: larger;
    }
  a:hover {
    border: none;
  }
  }
}
.righthand {
  margin-left: unset;
  margin-left: auto !important;
}
.logo, .logo >* {
  display: inline-block;
  max-width: 5rem;
  max-height: 5rem;
  filter: drop-shadow( 2px 2px 2px #00000080);
  border: 0px none;
  background: none;
}
.icon {
  max-width: 2rem;
  max-height: 2rem;
}
.oblique-shadow {
  filter: drop-shadow( 1px 1px 0.5px $partage-purple);
  color: $backcolor;
}
.display {
  display: flex;
  align-self: center;
  padding: 0 4rem;
  background: rgba( $partage-purple, 0.33);
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
  box-sizing: border-box;
  max-width: calc(100% - 2rem);
  & > * {
    margin: 0.5rem 0;
  }
  :first-child {
    margin-top: 3rem;
  }
  :last-child {
    margin-bottom: 3rem;
  }
  border: 0.8rem solid $partage-orange;
  border-radius: 5rem 0;
  & h1 {
    font-size: 4rem;
    @extend .oblique-shadow;
  }
  & h2 {
    font-size: 2rem;
  }
}

.home-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 30rem;
  // flex: 1 1 30%;
  max-height: max-content;
  margin: 0.5rem;
}
.home-column-inset {
  @extend .home-column;
  border-radius: 2rem 0;
  box-shadow: inset 2px 2px 6px rgba($partage-purple,0.5) ;
}

.home-column-panel {
  display: flex;
  flex-direction: column;
  max-height: max-content;
  align-items: flex-start;
  margin: 0.5rem 0.5rem;
  padding: 1rem;
  background-color: rgba( $partage-purple, 0.33);
  border: 0.5rem solid rgba( $partage-orange, 1);
  border-radius: 2rem 0;
  box-shadow: 2px 2px 6px rgba($partage-purple,0.5);
  // min-width: max-content;
  & h2 {
    font-size: 1.25rem;
  }
  & img {
    display: block;
    max-width: 30rem;
    max-height: 30rem;
    border-radius: 1rem;
    flex: 0 1 auto;
  }
  * {
    margin-bottom: 0.5rem;
  }
}
.full-width-panel {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: calc(100% - 1rem);
}
.left {
  justify-content: left;
  align-items: center;
}
.home-column-surface {
  @extend .home-column-panel;
  @extend .full-width-panel;
  box-sizing: border-box;
  background-color: rgba($backcolor, 0.33);
  border: 0;
  border-radius: 0.67rem 0;
  align-items: center;
  & a:hover {
    text-decoration: none;
    outline: 0;
    background-color: rgba($partage-purple, 0.33);
    border: 0;
    box-sizing: border-box;
  }
  h3 {
    margin: 0.3rem;
  }
  li {
    margin-left: 0.5rem;
  }
  .form-input {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    * {
      @extend .inlinebutton;
      display: block;
      width: 100%;
      flex:1 1 0%;
      border: 1px solid rgba( $partage-purple, 0.33 );
      border-radius: 0.5em 0 0.5em 0;
      color: $forecolor;
      margin: 2px;
    }
    label {
      display: block;
      width: max-content;
    }
  }
}
::placeholder {
  opacity: 0.5;
  color: $partage-purple;
}
.wrap-text {
  max-width: 29rem;
  overflow-wrap: break-word;
}

// flashes
.notice {
  @extend .nav;
  font-family: 'AlteDIN1451Mittelschrift';
  font-size: 1.2rem;
  min-height: 2rem;
  border-bottom: 0.33rem solid rgba( $partage-orange, 0.33 );
  border-radius: 0 0 2rem 2rem;
  justify-content: center;
  display: flex;
  position: fixed;
  left: 20%;
  right: 20%;
  background-color: #ffc000d0;
  color: $forecolor;
  animation: disappear 0s ease-out 2s forwards;
}
.alert {
  @extend .notice;
  background-color: #ff6600d0;
}
.error {
  @extend .notice;
  background-color: #ff0000d0;
}
.success {
  @extend .notice;
  background-color: #20d020d0;
}

// animations
@keyframes disappear {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}
.yeet-up {
  animation: yeet-up 0.5s ease-in-out 0s forwards;
  // keyframes, duration, timing-func, init-delay, direction
}
@keyframes yeet-up {
  to {
    transform: translate(0, -100vh);
  }
}
.yeet-down {
  animation: yeet-down 0.5s ease-in-out 0s forwards;
  // keyframes, duration, timing-func, init-delay, direction
}
@keyframes yeet-down {
  to {
    transform: translate(0, 100vh);
  }
}
.yeet-left {
  animation: yeet-left 0.5s ease-in-out 0s forwards;
  // keyframes, duration, timing-func, init-delay, direction
}
@keyframes yeet-left {
  to {
    transform: translate(-100vw, 0);
  }
}
.yeet-right {
  animation: yeet-right 0.5s ease-in-out 0s forwards;
  // keyframes, duration, timing-func, init-delay, direction
}
@keyframes yeet-right {
  to {
    transform: translate(100vw, 0);
  }
}


// media query overrides:
@media screen and (max-width: $breakpoint-icons) {
  .hideable{display: none;}
  .logo{max-width: 2rem;
    max-height: 2rem;
    margin-left: 1rem;
    margin-right:0.5rem;
    margin-top: 0;
    margin-bottom: 0;}
  .icon{display: inline-block;
  }
  .text{display: none;}
  nav > ul {
    padding: 0;
    :last-child{
      margin-right: 0.5rem;
    }
  }
  nav > ul > li {
    border: none;
    background: none;
    margin-left: -0.25rem;
    margin-right: -1rem;

  }
}
@media screen and (min-width: $breakpoint-icons) {
  // .hideable{display: flex;}
  .icon{display: none;}
  .text{display: inline;}
}
@media screen and (max-width: $breakpoint-tablet) {
  .home-column{
    width: calc(100% - 1rem);
  }
  .home-column-panel{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: calc(100% - 1rem);
    img {
      max-width: 80vw;
    }
  }
  .wrap-text {
    max-width: 80%;
    overflow-wrap: break-word;
  }
}
