$backcolor: #000000;
$forecolor: #ffffff;
$partage-orange: #ff8c00;
$partage-purple: #483d8b;

@font-face {
  font-family: 'AlteDIN1451Mittelschrift';
  src:font-url('AlteDIN1451Mittelschrift.otf');
  font-weight: normal;
  font-style: sans-serif;
}

*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
  margin-left: 1rem;
}
h1, h2, {
  font-family: 'AlteDIN1451Mittelschrift';
}
html {
  background-color: $backcolor;
  color: $forecolor;
}
.container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba( $partage-purple, 0.1);
  color: #ffffffd0;
  margin-left: -1em;
  padding-left: 1em;
}
.link {
  &:hover {
    background-color: #ffffff20;
  }
}
a {
  &:link, &:visited, &:hover, &:active {
    text-decoration: none;
    color: unset;
  }
  &:hover {
    // border-bottom: 1px dotted;
    color: $partage-orange;
    border-color: rgba( $forecolor, 0.5 );
  }
}
.inlinebutton {
  display: inline-flex;
  min-height: max-content;
  padding: 0.4em 0.6em 0.4em 0.6em;
  align-items: center;
  background-color: rgba( $partage-purple, 0.33);
  border-radius: 0.5em 0 0.5em 0;
}
.nav {
  display: flex;
  justify-content: left;
  border: none;
  border-bottom: 0.75rem solid rgba( $partage-orange, 0.33 );
  border-radius: 0 0 2rem 0;
  background-color: rgba( $partage-purple, 0.33);
}
nav {
  @extend .nav;
  ul {
    width: 100vw;
    display: flex;
    align-items: center;

  }
  li {
    @extend .inlinebutton;
    margin-left: -2.1rem;
    margin-right: 2.6rem;
    &:first-child {
      background-color: unset;
    }
    &:nth-child(2) {
      font-weight: bold;
      font-size: larger;
    }
    &.righthand {
      margin-left: auto;
    }
  a:hover {
    border: none;
  }
  }
}
.logo >* {
  display: inline-block;
  max-width: 80px;
  max-height: 80px;
  filter: drop-shadow( 2px 2px 2px #00000080);
}

.display {
  display: flex;
  align-self: center;
  padding: 0 4rem;
  background-color: rgba( $partage-purple, 0.33);
  color: #ffffffd0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
  box-sizing: border-box;
  & > * {
    margin: 0.5rem 0;
  }
  :first-child {
    margin-top: 3rem;
  }
  :last-child {
    margin-bottom: 3rem;
  }
  border: 1rem solid rgba( $partage-orange, 0.33 );
  border-radius: 5rem 0;
  & h1 {
    font-size: 4rem;
    filter: drop-shadow( 2px 2px 2px #00000080);
  }
  & h2 {
    font-size: 2rem;
  }
}

.home-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 480px;
  flex: 0 1 5rem;
  margin: 0.5rem;
}

.home-column-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5rem 0.5rem auto;
  padding: 1rem;
  background-color: rgba( $partage-purple, 0.33);
  border: 0.75rem solid rgba( $partage-orange, 0.33);
  border-radius: 2rem 0;
  min-width: max-content;
  & h2 {
    font-size: 1.25rem;
  }
}

.home-column-surface {
  @extend .home-column-panel;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  width: calc(100% - 1rem);
  box-sizing: border-box;
  background-color: rgba($partage-purple, 0.33);
  border: 0;
  border-radius: 0.67rem 0;
  align-items: center;
  & a:hover {
    text-decoration: none;
    outline: 0;
    background-color: rgba($partage-purple, 0.33);
    border: 0;
    box-sizing: border-box;
  }
  h3 {
    margin: 0.3rem;
  }
  li {
    margin-left: 0.5rem;
  }
  .form-input {
    padding: 5px;
    border-radius: 1rem;
    label {
      display: block;
    }
  }
  & img {
    display: block;
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 1rem;
    flex: 1 0 100%;
  }
}
.wrap-25vw {
  max-width: 25vw;
  overflow-wrap: break-word;
}

// flashes
.notice {
  @extend .nav;
  border-bottom: 0.33rem solid rgba( $partage-orange, 0.33 );
  border-radius: 0 0 2rem 2rem;
  justify-content: center;
  display: flex;
  position: fixed;
  left: 20vw;
  right: 20vw;
  background-color: #ffc00080;
}
.alert {
  @extend .notice;
  background-color: #ff000080;
}